<ion-header [ngClass]="{'wallet-details-header': wallet}">
  <ion-navbar [navbar-bg]="wallet && wallet.color">
    <ion-buttons *ngIf="wallet && !requestingAmount" left>
      <button class="modal-close-button" (click)="close()" ion-button>
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{wallet && wallet.name || ('Amount' | translate)}}</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="wallet" [navbar-bg]="wallet.color">
    <div *ngIf="!wallet.balanceHidden && !wallet.scanning && wallet.status" class="wallet-details-header__balance">{{wallet.status && wallet.status.totalBalanceStr}}</div>
    <div *ngIf="wallet.balanceHidden  && !wallet.scanning" class="wallet-details-header__balance-hidden">
      <span class="title" translate>[Balance Hidden]</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>

  <div class="prompt-user-fullscreen-container" *ngIf="shouldShowZeroState()">
    <div class="prompt-user">
      <div class="title-icon larger-icon">
        <img src="assets/img/ghost-straight-face.svg" />
      </div>
      <div class="title-info">
        <span translate>Mmm...</span>
      </div>
      <div class="subtitle-info">
        <span translate>It appears that you do not have any money to send.</span>
      </div>
      <button ion-button class="button-standard" (click)="goToReceive()">
        {{'Add funds' | translate}}
      </button>
    </div>
  </div>

  <div *ngIf="!shouldShowZeroState()" class="amount-wrapper">

    <div class="amount-header-margin">
      <div class="amount-header">
        <div style="flex: 1">
          <div class="switcher" (click)="changeUnit()" tappable>
            <img class="switcher__icon" src="assets/img/icon-swap.svg">
            <div class="switcher__label">{{unit}}</div>
          </div>
        </div>
        <div class="amount-header__label">Enter Amount</div>
        <img class="next-button" [ngClass]="{'show': expression && allowSend}" src="assets/img/icon-next.svg" (click)="finish()" tappable>
      </div>
    </div>

    <div class="amount-content">
      <div class="expression-container">
        <span class="expression">
          <span *ngIf="unit === 'USD'">$</span>{{expression ? expression : onlyIntegers ? '0' : '0.00'}}
        </span>
      </div>
      <div class="amount" [hidden]="!globalResult">{{globalResult}} {{unit}}</div>
      <div class="result">&asymp;
        <span *ngIf="fiatCode === alternativeUnit">{{alternativeAmount || '0.00'}}</span>
        <span *ngIf="fiatCode !== alternativeUnit">{{alternativeAmount || '0.000000'}}</span>
        {{alternativeUnit}}
      </div>
    </div>

    <pin-pad (keystroke)="pushDigit($event)" type="amount" [showSendMax]="isSendMaxButtonShown()" [integersOnly]="onlyIntegers"></pin-pad>

  </div>

</ion-content>